.domfooter {
  flex: none;
  height: var(--FOOTER);
  border-top: 1px solid #999;
  background-color: #f6f6f8;
  justify-content: space-between;
  display: flex;

  &_left {
    flex: 1 0 0;
    display: flex;
    padding: 10px;

    &_img {
      width: 50px;
      height: 50px;
      background-color: #000;
      border-radius: 4px;
    }

    &_info {
      display: flex;
      flex-direction: column;
      margin-left: 10px;

      &_name {
        font-size: 18px;
        margin-top: 2px;
        color: #666;
      }

      &_singer {
        font-size: 16px;
        margin-top: 10px;
        color: #888;
      }
    }

    &_like {
      margin-left: 4px;

      &:hover {
        color: #f00;
      }
    }
  }

  &_center {
    width: 460px;
    flex-direction: column;


    &_Top {
      padding-top: 10px;

      &>* {
        margin: 0 10px;

        &:hover {
          color: #f00;
        }
      }
    }

    &_bottom {
      margin-top: 6px;
    }

    &_play {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      background-color: #e8e8e8;

      &:hover {
        background-color: #ccc;
      }
    }

    &_next {
      font-size: 32px;

      &:hover {
        color: #f00;
      }
    }

    &_process[type="range"] {
      color: -internal-light-dark(rgb(255, 0, 0), rgb(59, 59, 59))
    }
  }

  &_right {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;

    .volume_value {
      margin: 0;
      margin-left: 10px;
      margin-right: 20px;
      --volume: 0;
      width: 60px;
      appearance: none;
      outline: none;

      &::-webkit-slider-runnable-track {
        height: 3px;
        border-radius: 2px;
      }

      &::-webkit-slider-runnable-track {
        background: linear-gradient(to right,
            var(--themeColor) 0,
            var(--themeColor) calc(var(--volume) * 1%),
            #E6E6E8 calc(var(--volume) * 1%),
            #E6E6E8);
      }

      &::-webkit-slider-thumb {
        appearance: none;
        cursor: pointer;
        margin-top: -2px;
        width: 8px;
        height: 8px;
        background-color: transparent;
        border-radius: 50%;

      }

      &:hover::-webkit-slider-thumb {
        background-color: var(--themeColor);
      }
    }
  }

}
