.domfooter {
  flex: none;
  height: var(--FOOTER);
  border-top: 1px solid #999;
  background-color: #f6f6f8;
  justify-content: space-between;
  display: flex;

  &_left {
    flex: 1 0 0;
    display: flex;
    padding: 10px;

    &_img {
      width: 50px;
      height: 50px;
      background-color: #000;
      border-radius: 4px;
    }

    &_info {
      display: flex;
      flex-direction: column;
      margin-left: 10px;

      &_name {
        font-size: 18px;
        margin-top: 2px;
        color: #666;
      }

      &_singer {
        font-size: 16px;
        margin-top: 10px;
        color: #888;
      }
    }

    &_like {
      margin-left: 4px;

      &:hover {
        color: #f00;
      }
    }
  }

  &_center {
    width: 460px;
    flex-direction: column;


    &_Top {
      padding-top: 10px;

      &>* {
        margin: 0 10px;
        &:hover {
          color: #f00;
        }
      }
    }

    &_bottom {
      margin-top: 6px;
    }

    &_play {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      background-color: #e8e8e8;
      &:hover {
        background-color: #ccc;
      }
    }

    &_next {
      font-size: 32px;

      &:hover {
        color: #f00;
      }
    }

    &_range {
      margin: 0 4px;
      width: 390px;
      height: 2px;
      background-color: #c2c2c2;
    }

    &_process {
      position: relative;
      display: block;
      background-color: #f00;
      height: 100%;

      &:after {
        opacity: 0;
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: inherit;
      }
    }

    &_range:hover {
      &_process {
        &:after {
          opacity: 1;
        }
      }
    }

  }

  &_right {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    padding-right: 20px;
    .volume_value {
      position: relative;
      --value: 100;
      width: 60px;
      height: 3px;
      background-color: #EEEEF0;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: var(--baseRed);
        width: calc(var(--value)* 1%);
      }
    }
  }

}
