.domfooter {
  height: var(--FOOTER);
  border-top: 1px solid #E1E1E1;
  background-color: #f6f6f8;

  &_center {
    width: 460px;

    .playTimerShaft {
      margin: 0 6px;
      width: 394px;
      height: 3px;
      background-color: #E6E6E8;
      &:hover {
        height: 5px;
      }
    }

    .buffered {
      background-color: #C2C2C4;
    }
  }

  &_right {
    padding-right: 20px;

    .toneQuality {
      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        border: 12px solid transparent;
        border-top-color: #fff;
      }
    }
  }

}
