.domHeader {
  flex: none;
  height: var(--HEADER);
  padding: 0 20px;
  background-color: var(--themeColor);

  &_spilt {
    background-color: rgba(255, 255, 255, 0.6);
  }

  &_logo {
  }

  &_search {
    width: 160px;
    height: 30px;
    padding-left: 36px;

    &_box {
      left: 220px;
      top: calc(var(--HEADER) - 14px);
      color: #333;
      width: 354px;
      &_value {
        height: 450px;
      }

      &_noValue {
        height: 400px;
      }

      .list {
        .item {
          height: 56px;

          .index {
            width: 56px;
          }
        }
      }
    }
  }

  &_popup_skin {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 324px;
    height: 250px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    z-index: 20;
    color: #000;
    padding: 14px 16px;

    .nav {
      border-bottom: 1px solid #E5E5E5;
      padding-bottom: 6px;

      .link {
        position: relative;
        margin-right: 14px;
        color: #666;

        &::after {
          visibility: hidden;
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -7px;
          height: 2px;
          background-color: #959595;
        }

        &.on::after {
          visibility: visible;
        }

        &.on,
        &:hover {
          color: #000;
        }
      }
    }

    .skinbtn {
      position: relative;

      .ico {
        position: absolute;
        right: -5px;
        bottom: -5px;
        background-color: var(--themeRed);
        border-radius: 1000px;
        color: #fff;
        @include flex-center();
        border: 2px solid;
        // z-index: 2;
      }
    }

    .themes {
      grid-template-rows: repeat(2, 90px);
      grid-template-columns: repeat(3, 90px);

      .theme {
        position: relative;
        background-color: var(--currentColor);

        .ico {
          width: 24px;
          height: 24px;
        }

        &:hover {
          outline: 1px solid var(--currentColor);
          outline-offset: 1px;
        }

        .name {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 20px;
          padding: 0 2px;
          line-height: 20px;
          color: #fff;
          font-size: 12px;
          background-color: rgba(0, 0, 0, 0.6);
        }

        &Black {
          --currentColor: var(--themeBlack)
        }

        &Red {
          --currentColor: var(--themeRed)
        }

        &Pink {
          --currentColor: var(--themePink)
        }

        &Blue {
          --currentColor: var(--themeBlue)
        }

        &Green {
          --currentColor: var(--themeGreen)
        }

        &Gold {
          --currentColor: var(--themeGold)
        }
      }
    }

    .colors {
      .default {
        grid-template-rows: repeat(2, 40px);
        grid-template-columns: repeat(6, 40px);

        .color {
          background-color: var(--currentColor);

          &:hover {
            outline: 1px solid var(--currentColor);
            outline-offset: 1px;
          }
        }
      }

      .custom {
        display: flex;

        .colour {
          position: relative;
          flex: none;
          width: 40px;
          height: 40px;
          margin-right: 10px;
          background-color: #000;
          .ico {
            position: absolute;
            right: -5px;
            bottom: -5px;
            background-color: var(--themeRed);
            border-radius: 1000px;
            color: #fff;
            @include flex-center();
            border: 2px solid;
            // z-index: 2;
          }
        }

        .ranges {
          flex: auto;
        }

        .rgb {
          margin-top: 6px!important;
          &::-webkit-slider-runnable-track {
            background-image: linear-gradient(to right,
                rgb(255, 0, 0) 0,
                rgb(255, 255, 0) 100% / 6 * 1,
                rgb(0, 255, 0) 100% / 6 * 2,
                rgb(0, 255, 255)100% / 6 * 3,
                rgb(0, 0, 255) 100% / 6 * 4,
                rgb(255, 0, 255) 100% / 6 * 5,
                rgb(255, 0, 0) 100%,
              );
          }
        }

        .hsl {
          margin-top: 20px !important;
          &::-webkit-slider-runnable-track {
            background-image: linear-gradient(to right,
                hsl(0, 0%, 20%) 0,
                hsl(0, 100%, 50%) 100%,
              );
          }
        }

        input[type=range] {
          display: block;
          // display: none;
          appearance: none;
          // border-radius: 5px;
          width: 100%;
          margin: 0;
          outline: none;

          &::-webkit-slider-runnable-track {
            height: 4px;
            border-radius: 2px;
          }

          &::-webkit-slider-thumb {
            appearance: none;
            cursor: pointer;
            margin-top: -8px;
            width: 18px;
            height: 18px;
            background-color: #fff;
            border-radius: 50%;
            border: 1px solid #E2E2E2;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            &:hover {
              background-color: #F5F5F7;
            }
          }
        }
      }
    }
  }

  &_popup_profile {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 280px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    z-index: 20;
    color: #000;

    .checkin {
      font-size: 14px;
    }

    .list {
      height: 100%;
      flex-direction: column;
    }

    .infos {
      margin-top: 20px;
      margin-bottom: 20px;

      .info {

        .num {
          font-size: 22px;
        }

        .string {
          margin-top: 0.5em;
        }
      }
    }

    .item {
      padding: 6px 0;
    }

    .link {
      width: 100%;
      padding-left: 24px;
      height: 36px;

      .ico {
        width: 24px;
      }

      &:hover {
        background-color: #F0F1F2;
      }
    }
  }

  &_user {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;

    &_login {
      display: flex;
      align-items: center;

      .person {
        margin-right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: #E0E0E0;
      }
    }

    &_profile {
      display: flex;
      align-items: center;

      .avator {
        margin-right: 6px;
        border-radius: 15px;
        overflow: hidden;
        width: 30px;
        height: 30px;
      }
    }
  }
}
