.dommain {
  position: relative;
  display: flex;
  flex: 1;
  min-height: 1px;
  width: 100%;

  &_split {
    position: relative;
    flex: none;
    width: 1px;
    background-color: #E0E0E0;
    cursor: w-resize;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -2px;
      right: -2px;
      z-index: 3;
    }
  }

  &_left {
    width: var(--navWidth, 200px);
    &::-webkit-scrollbar-thumb {
      background-color: #fff;
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: #E1E1E1;
    }

    &_dt {
      color: #9F9F9F;
      margin: 14px 10px;
      font-size: 14px;
    }

    &_link {
      display: flex;
      font-size: 14px;
      padding: 10px;

      &.on {
        background-color: #f5f5f5;
      }

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }

  &_right {
    --rightwidth: 820px;
    // position: relative;
    // flex: 1;
    // min-width: 1px;
    // height: 100%;
  }
}
