.dommain {
  position: relative;
  display: flex;
  flex: 1;
  min-height: 1px;
  width: 100%;
}

.dommain_left {
  --leftwidth: 200px;
  flex: none;
  width: var(--leftwidth);
  background-color: #fff;
  padding: 10px;
}

.dommain_left_dt {
  color: #bbb;
  margin: 14px 10px;
  font-size: 16px;

}

.playlist_control {
  display: flex;
  align-items: center;

  .addplaylist {
    margin-left: auto;
  }

  ._toggle {
    cursor: pointer;
    flex: 1;

    &::hover {
      color: #f00;
    }
  }
}

.dommain_left_link {
  display: block;
  font-size: 14px;
  padding: 10px;

  &.on {
    font-weight: bold;
    font-size: 18px;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}


.dommain_split {
  flex: none;
  width: 2px;
  background-color: #ccc;
  cursor: w-resize;
}

.dommain_right {
  --rightwidth: 820px;
  position: relative;
  flex: 1;
  min-width: 1px;
  // width: var(--rightwidth);
  display: flex;
  height: 100%;
  // flex-direction: column;
  > * {
    flex: 1;
    min-width: 1px;
  }
}
