#playlist {
  position: absolute;
  top: var(--HEADER);
  right: 0;
  bottom: var(--FOOTER);
  background-color: #fff;
  width: 420px;
  z-index: 10;
  padding: 0 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  @include select-nav(105px);

  .actions {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    &.disabled {
      color: #ccc;
    }
    .right {
      margin-left: auto;
      display: flex;
      align-items: center;
      span {
        width: 1px;
        height: 12px;
        background-color: #ccc;
      }
      .action {
        margin: 0 20px;
      }
    }
  }

  .empty {
    width: min-content;
    margin: 0 auto;
    white-space: nowrap;
    padding-top: 100px;
    .text {
      font-size: 14px;
      margin-bottom: 1em;
    }

    a {
      text-decoration: underline;
      color: #333;
    }
  }
}
