#privateLetter {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 70px;
  background-color: #fff;
  width: 360px;
  z-index: 10;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);

  >.inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header {
    flex: none;
    margin: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .title {
      font-size: 22px;
    }

    .clear {
      font-size: 14px;
    }
  }

  @include select-nav();

  .list {
    flex: 1;

    .item {
      display: flex;
      padding: 12px 20px;

      &:hover {
        background-color: #F5F5F6;
      }

      .avatar {
        flex: none;
        width: 33px;
        height: 33px;
        position: relative;

        img {
          border-radius: 50%;
          overflow: hidden;
        }

        .ico {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 14px;
          height: 14px;
        }
      }

      .content {
        cursor: pointer;
        margin-left: 10px;
        flex: auto;
        min-width: 1px;

        .top {
          display: flex;
          justify-content: space-between;
        }

        .bottom {
          margin-top: 0.5em;
          line-height: 16px;
        }
      }
    }
  }

  .topbar {
    position: relative;
    flex: none;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;

    .back {
      position: absolute;
      left: 14px;
      font-size: 24px;
    }
  }

  .history {
    flex: 1;
    .item {
      margin-bottom: 20px;
    }
    .time {
      width: 140px;
      text-align: center;
      margin: 16px auto;
      display: block;
      font-size: 12px;
      background-color: #F5F5F6;
      border-radius: 8px;
      height: 16px;
      line-height: 16px;
    }

    .msg {
      padding-left: 20px;
      padding-right: 44px;
      display: flex;

      .avatar {
        flex: none;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        overflow: hidden;
      }

      .content {
        min-width: 1px;
        flex: auto;
        margin-left: 20px;
        padding: 10px;
        border-radius: 0 0 20px 20px;
        background-color: #F0F1F2;
        line-height: 1.5;
        .embed {
          margin-top: 10px;
          padding: 12px;
          border-radius: 6px;
          background-color:#FBFCFC;
          display: flex;
          &[href]:hover {
            background-color: #E3E4E5;
          }
          .cover {
            flex: none;
            height: 40px;
          }

          .promotion {
            margin-left: 10px;
          }
        }
      }
    }

    .mymsg {
      display: flex;
      padding-right: 26px;
      .content {
        margin-left: auto;
        max-width: 256px;
        max-height: 288px;
        border-radius: 10px 10px 0 10px;
        overflow: hidden;
        .img {
          background-color: #fff;
        }

        .text {
          background-color: #D6E6F8;
          padding: 10px;
          line-height: 16px;
        }
      }
    }

    .hint {
      border-top: 1px solid#D8D8DA;
      padding: 12px 20px;
      background-color: #F5F5F7;
      line-height: 16px;
    }
  }
  .feedback {
    padding: 14px;


    .actions {
      margin-top: 10px;
      display: flex;
      align-items: center;
      .left {
        position: relative;

        .action {
          font-size: 24px;
          // color: #999;
          margin-right: 10px;
        }

        .faces {
          position: absolute;
          right: 100%;
          top: 50%;
          transform: translate(-10px, -50%);
        }
      }

      .right {
        margin-left: auto;
      }
    }
  }
}
