.domSublist {

  &_nav {
    padding: 20px 30px;

    &_link {
      font-size: 16px;
      margin-right: 1em;

      &.on {
        font-size: 22px;
      }


    }
  }


  &_list {
    .item {
      display: grid;
      grid-template-columns: 60px 15fr 8fr 4fr;
      height: 80px;
      padding-left: 30px;
      align-items: center;

      &:nth-child(odd) {
        background-color: #F9F9F9;
      }

      &:hover {
        background-color: #F0F1F2;
      }

      .cover {
        width: 60px;
        height: 60px;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid #ccc;
      }

      .name {
        padding: 0 10px;
      }

    }
  }

  &_grid {
    padding: 30px;
    padding-top: 0;
  }
}
