#privateLetter {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 70px;
  background-color: #fff;
  width: 360px;
  z-index: 10;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);

  .list {

    .empty {
      padding-top: 100px;
      text-align: center;
      user-select: text !important;
      color: #999;
    }
  }

  .topbar {
    position: relative;
    flex: none;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;

    .back {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      padding: 0 10px;
    }
  }

  .history {
    flex: 1;

    .time {
      width: 140px;
      text-align: center;
      margin: 16px auto;
      display: block;
      font-size: 12px;
      background-color: #F5F5F6;
      border-radius: 8px;
      height: 16px;
      line-height: 16px;
    }


    .hint {
      border-top: 1px solid#D8D8DA;
      padding: 12px 20px;
      background-color: #F5F5F7;
      line-height: 16px;
    }
  }

  .feedback {
    .actions {

      .left {
        position: relative;
        .faces {
          position: absolute;
          right: 100%;
          top: 50%;
          transform: translate(-10px, -50%);
        }
      }
    }
  }
}
