#toast {
  // display: none;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: min-content;
  min-width: 270px;
  height: 84px;
  line-height: 84px;

  // &.fadein {
  //   display: block;
  // }

  // &.fadeout {
  //   display: block;
  //   animation: fadeout 0.5s;
  // }
  // @keyframes fadeout {
  //   from {
  //     opacity: 1;
  //   }
  //   to {
  //     opacity: 0;
  //   }
  // }
}
