.emojiFace {
  position: relative;
  width: 370px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  .close {
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 24px;
  }

  .page {
    flex: 1 0 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .ico {
    margin: 5px;
    font-size: 18px;
    width: 24px;
    height: 24px;
    @include flex-center();

    &:hover {
      outline: 1px solid blue;
    }
  }

  .jump {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    button {
      margin: 4px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #F2F3F3;

      &.on {
        background-color: #999999;
      }
    }
  }
}
