.ui_grid {
  --arrowsize: 20px;
  --cover: 100%;
  --columnGap: 20px;
  --rowGap: 20px;
  display: grid;
  column-gap: var(--columnGap);
  row-gap: var(--rowGap);
  grid-template-columns: repeat(5, 1fr);

  &.row_1 {
    grid-template-rows: 1fr;

    .item:nth-child(n + 6) {
      display: none;
    }
  }

  &.col_4 {
    --arrowsize: 25px;
    grid-template-columns: repeat(4, 1fr);
  }

  &.col_3 {
    grid-template-columns: repeat(3, calc(100% / 3 - var(--columnGap) * 2 / 3));
  }

  &.rectangle_height {
    --cover: calc(240 / 180 * 100%);
  }

  &.rectangle_width {
    --cover: calc(136 / 242 * 100%);
  }

  .item {

    .cover {
      position: relative;
      overflow: hidden;
      border-radius: 6px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);

      .tag {
        display: block;
        padding: 4px;
        color: #fff;
        background-color: #FF2C55;
        border-bottom-right-radius: 6px;
      }

      .whitetext {
        display: block;
        padding: 10px;
        color: #fff;
        @extend .text-overflow;
      }

      &::before {
        content: '';
        display: block;
        padding-top: var(--cover);
      }

      .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .playArrow {
        transition: ease 0.4s;
        opacity: 0;
        margin: 10px;
        width: 1.6em;
        height: 1.6em;
        display: block;
        font-size: var(--arrowsize);
        background-color: #fff;
        border-radius: 50%;
        @include flex-center();
        color: var(--basered);
      }

      &:hover {
        .playArrow {
          opacity: 1;
        }
      }

      .lt {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        z-index: 2;
      }

      .lb {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 100%;
        z-index: 2;
      }

      .rt {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 100%;
        z-index: 2;
      }

      .rb {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 100%;
        z-index: 2;
      }

      .bottommask {
        position: absolute;
        top: 80%;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        z-index: 1;
      }
    }


    .footer {
      font-size: 14px;
      margin-top: 0.5em;
      line-height: 1.5;
    }

    .text {
      line-height: 1.5;
    }
  }
}
