.ui_comment {


  &_beReplied {
    margin-top: 0.5em;
    padding: 8px;
    background-color: #F4F4F4;
    color: #666;
  }

  &_text {
    line-height: 1.5;
  }

  &_split {
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin: 0 10px;
  }
}
