.domHeader {
  flex: none;
  height: var(--HEADER);
  padding: 0 20px;
  background-color: var(--themeColor);

  &_spilt {
    background-color: rgba(255, 255, 255, 0.6);
  }

  &_search {
    width: 160px;
    height: 30px;
    padding-left: 36px;

    &_box {
      left: 220px;
      top: calc(var(--HEADER) - 14px);
      color: #333;
      width: 354px;
      &_value {
        height: 450px;
      }

      &_noValue {
        height: 400px;
      }

      .list {
        .item {
          height: 56px;

          .index {
            width: 56px;
          }
        }
      }
    }
  }

  &_popup_profile {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 280px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    z-index: 20;
    color: #000;

    .checkin {
      font-size: 14px;
    }

    .list {
      height: 100%;
      flex-direction: column;
    }

    .infos {
      margin-top: 20px;
      margin-bottom: 20px;

      .info {

        .num {
          font-size: 22px;
        }

        .string {
          margin-top: 0.5em;
        }
      }
    }

    .item {
      padding: 6px 0;
    }

    .link {
      width: 100%;
      padding-left: 24px;
      height: 36px;

      .ico {
        width: 24px;
      }

      &:hover {
        background-color: #F0F1F2;
      }
    }
  }

  &_user {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;

    &_login {
      display: flex;
      align-items: center;

      .person {
        margin-right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: #E0E0E0;
      }
    }

    &_profile {
      display: flex;
      align-items: center;

      .avator {
        margin-right: 6px;
        border-radius: 15px;
        overflow: hidden;
        width: 30px;
        height: 30px;
      }
    }
  }
}
