.domFriend {
  display: flex;
  &_left {
    flex: auto;
    display: flex;
    flex-direction: column;
    .header {
      flex: none;
      padding: 0 30px;
      padding-top: 20px;
      height: 54px;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }

    .content {
      position: relative;
      flex: 1;
    }

    .empty {
      flex: 1;
      position: absolute;
    }
  }

  &_split {
    width: 2px;
    background-color: #eee;
  }

  &_right {
    width: 248px;
  }

  &_user {
    padding: 0 20px;
    .tips {
      text-align: center;
      line-height: 1.5;
      color: #888;
    }
    .login {
      margin: 1em 0;
      width: 100%;
      color: #fff;
      height: 36px;
      line-height: 36px;
      border-radius: 18px;
      text-align: center;
      font-size: 16px;
      background-color: var(--basered);
    }
  }

  &_hotTopic {
    .header {
      padding: 0 20px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .list {
      display: flex;
      flex-direction: column;
    }

    .item {
      display: flex;
      padding: 5px;
      padding-left: 20px;
      &:hover {
        background-color: #F4F4F4;
      }

      .cover {
        width: 36px;
        height: 36px;
        border-radius: 5px;
        overflow: hidden;
      }
      .content {
        margin-left: 12px;
        padding: 2px;
      }

      .participateCount {
        margin-top: 4px;
      }
    }
  }
}
