.domHome {
  &_newest {
    &_nav {
      margin: 0 auto;
      width: 230px;
      height: 30px;
      line-height: 28px;
      border-radius: 15px;
      display: flex;
      border: 1px solid #bbb;
      overflow: hidden;

      &_link {
        width: 115px;
        border-radius: 15px;
        text-align: center;

        &:hover {
          background-color: #F4F4F4;
        }

        &.on {
          background-color: #BBBBBB;
          color: #fff;
        }
      }
    }

    &_sub {
      &_nav {
        padding: 24px 30px 12px;
        display: flex;

        &_link {
          margin-right: 20px;
          cursor: pointer;

          &.on {
            font-weight: bold;
          }
        }


      }

      &_control_center {
        margin-left: auto;
        display: flex;

        .showtype {
          color: #333;

          padding: 0 8px;
          line-height: 20px;
          border-radius: 10px;
          cursor: pointer;

          &:hover {
            opacity: #000;
          }

          &.on {
            background-color: #FDF5F5;
            color: var(--themeColor);

            &:hover {
              background-color: #FDEDED;
            }
          }
        }
      }
    }

    &_song {

      &_list {
        .item {
        }

        .cover {
        }

        .name {
        }

        .artists {
          width: 18%;
        }

        .album {
          width: 18%;
        }

        .duration {
          width: 10%;
        }
      }
    }

    &_album {
      &_list {
        position: relative;
        margin: 0 30px;
      }

      &_sublist {
        position: relative;
        padding-left: 50px;
        margin-bottom: 50px;

        .sign {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 20px;
        }

        .item {
          display: flex;
          flex-direction: column;
          width: 140px;
        }

        .cover {
          width: 140px;
          height: 140px;
          box-shadow: 3px 0 3px 1px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
