.ui_aspect-ratio-24\/9 {
  --aspect-ratio: 24 / 9;
  aspect-ratio: var(--aspect-ratio);
}

// Fallback (current, using padding hack)
@supports not (aspect-ratio: 24 / 9) {
  .ui_aspect-ratio-24\/9::before {
    float: left;
    padding-top: calc(24 / 9 * 1%);
    content: '';
  }

  .ui_aspect-ratio-24\/9::after {
    display: block;
    content: '';
    clear: both;
  }
}

.ui_aspect-ratio-3\/4 {
  --aspect-ratio: 3 / 4;
  aspect-ratio: var(--aspect-ratio);
}

// Fallback (current, using padding hack)
@supports not (aspect-ratio:3 / 4) {
  .ui_aspect-ratio-3\/4::before {
    float: left;
    padding-top: 100%;
    content: '';
  }

  .ui_aspect-ratio-3\/4::after {
    display: block;
    content: '';
    clear: both;
  }
}
