#ai_work {
  @mixin wave($delay: 0s) {
    opacity: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-image: radial-gradient(transparent, #EF4444);
    animation: aiwave 2s infinite linear $delay;
  }
  &::after {
    @include wave(1.25s);
  }
  &::before {
    @include wave;
  }
}

@keyframes aiwave {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;
    top: calc(100% / 3);
    left: calc(100% / 3);
    right: calc(100% / 3);
    bottom: calc(100% / 3);
  }
}
