home=https://npmmirror.com/
registry=https://registry.npmmirror.com
electron_mirror="https://npmmirror.com/mirrors/electron/"
chromedriver_cdnurl="https://npmmirror.com/mirrors/chromedriver/"

node-mirror:release=https://npmmirror.com/mirrors/node/
node-mirror:rc=https://npmmirror.com/mirrors/node-rc/
node-mirror:nightly=https://npmmirror.com/mirrors/node-nightly/

package-lock=false
auto-install-peers=true
