#privateLetter {
  top: 60px;
  right: 0;
  bottom: 70px;
  background-color: #fff;
  width: 360px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);

  .list {

    .empty {
      padding-top: 100px;
      text-align: center;
      user-select: text !important;
      color: #999;
    }
  }

  .history {
    flex: 1;

    .time {
      width: 140px;
      text-align: center;
      margin: 16px auto;
      display: block;
      font-size: 12px;
      background-color: #F5F5F6;
      border-radius: 8px;
      height: 16px;
      line-height: 16px;
    }


    .hint {
      border-top: 1px solid#D8D8DA;
      padding: 12px 20px;
      background-color: #F5F5F7;
      line-height: 16px;
    }
  }
}
