.ui_swiper {
  --swiper-pagination-color: var(--theme-color);

  .cover {
    // --rate: calc(164 / 400);
    // width: calc(var(--rate) * 1080px);
    // height: calc(var(--rate) * 400px);
    // transform: scale(0.8);

    .typeTitle {
      position: absolute;
      bottom: 0;
      right: 0;
      color: #fff;
      // padding: 10px;
      border-top-left-radius: 6px;
    }
  }
}

.slick-dots li {
  width: auto;
  height: auto;

  .customPaging {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.slick-active {
    .customPaging {
      background-color: var(--themeColor);
    }
  }
}

.slick-center.slick-current {
  //transform: scale(1.5);
}
