.ui_swiper {
  --swiper-pagination-color: var(--theme-color);

  .cover {
    .typeTitle {
      position: absolute;
      bottom: 0;
      right: 0;
      color: #fff;
      border-top-left-radius: 6px;
    }
  }
}

.slick-dots li {
  width: auto;
  height: auto;

  .customPaging {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.slick-active {
    .customPaging {
      background-color: var(--theme-color);
    }
  }
}
