.domwrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 1022px;
  height: 670px;
  background-color: #fff;
  transform: translate(0, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@import 'header';
@import 'main';
@import 'footer';