.domSearch {
  &_multimatch {
    .item {
      width: 366px;
    }
  }

  ._list {

    .item {
      padding: 10px 30px;
      grid-template-columns: var(--grid-template-columns);
      .cover {
        width: 60px;
        height: 60px;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid #ccc;
      }
    }
  }
}
