.domhome {
  display: flex;
  flex-direction: column;
  height: 100%;

  &_nav {
    flex: none;
    height: 60px;
    display: flex;
    align-items: baseline;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;

    &_link {
      font-size: 16px;
      margin-right: 1em;
      @include nav_active();

      &.on {
        font-weight: bold;
      }
    }
  }

  &_content {
    flex: auto;
    display: flex;

    >div {
      flex: 1;
      overflow: auto;
      // 滚动条保持绝对位置
      overflow-anchor: none;
    }
  }

  &_titlelink {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 0.4em 0;
  }

  &_artist {
    padding-top: 16px;

    &_filter {
      display: flex;
      white-space: nowrap;
      align-items: baseline;

      .title {
        flex: 0 0 40px;
      }

      .list {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
      }

      .item {
        background-color: #fff;
        padding: 4px 8px;
        margin: 0.2em 0;
        margin-right: 2em;
        cursor: pointer;

        &.on {
          color: $basered;
          background-color: rgba(255, 0, 0, 0.05);
          border-radius: 1000px;
        }
      }
    }

    &_list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;

      .item {
        margin-right: 16px;
        margin-bottom: 16px;

        .img {
          position: relative;
          width: 140px;
          height: 140px;
          border-radius: 10px;
          overflow: hidden;
        }

        .rankmask {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          font-size: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(188, 124, 218, 0.9);
          color: #fff;
        }

        .info {
          display: flex;
          font-size: 14px;
          margin-top: 0.5em;
        }
      }
    }
  }

  &_toplist {
    padding: 14px 30px;

    &_title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 16px;
    }

    &_official {

      .official_rank {
        display: flex;
        margin-bottom: 30px;

        &_cover {
          // flex: 0;
          width: 170px;
          height: 170px;
          border-radius: 10px;
          overflow: hidden;
          margin-right: 36px;
        }

        &_content {
          flex: 1;
        }

        &_list {
          flex: 1;
          height: 170px;

          .item {
            height: 34px;
            padding: 0 10px;
            display: flex;
            align-items: center;

            &:nth-child(odd) {
              background-color: #F9F9F9;
            }

            &:hover {
              background-color: #f4f4f4;
            }

            &.on {
              background-color: #EFEFEF;
            }

            .artist {
              margin-left: auto;
            }
          }
        }
      }
    }

    &_cardlist {
      display: flex;
      flex-wrap: wrap;

      .item {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        &:not(:nth-child(5n + 5)) {
          margin-right: 12px;
        }

        .card {
          position: relative;
          width: 140px;
          height: 140px;
          overflow: hidden;
          border-radius: 10px;
        }

        .playCount {
          position: absolute;
          top: 10px;
          right: 10px;
          color: #fff;
        }

        .name {
          margin-top: 0.4em;
        }
      }

    }
  }

  &_newest {
    &_nav {
      margin: 0 auto;
      width: 230px;
      height: 30px;
      line-height: 28px;
      border-radius: 15px;
      display: flex;
      border: 1px solid #bbb;
      overflow: hidden;

      &_link {
        width: 115px;
        border-radius: 15px;
        text-align: center;

        &:hover {
          background-color: #F4F4F4;
        }

        &.on {
          background-color: #BBBBBB;
          color: #fff;
        }
      }
    }

    &_sub {
      &_nav {
        padding: 24px 30px 12px;
        display: flex;

        &_link {
          margin-right: 20px;
          cursor: pointer;

          &.on {
            font-weight: bold;
          }
        }


      }

      &_control_center {
        margin-left: auto;
        display: flex;

        @mixin btn {
          margin-left: 10px;
          width: 90px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 12px;
          cursor: pointer;
        }

        .playAll {
          @include btn();
          color: #fff;
          background-color: $basered;
        }

        .subAll {
          @include btn();
          border: 1px solid #f2f2f2;
        }

        .showtype {
          color: #333;

          padding: 0 8px;
          line-height: 20px;
          border-radius: 10px;
          cursor: pointer;

          &:hover {
            opacity: #000;
          }

          &.on {
            background-color: #FDF5F5;
            color: $basered;

            &:hover {
              background-color: #FDEDED;
            }
          }
        }
      }
    }

    &_song {

      &_list {
        .item {
          height: 80px;
          padding: 0 30px;
          display: flex;
          align-items: center;

          &:nth-child(odd) {
            background-color: #F9F9F9;
          }
        }

        .ranking {
          width: 30px;
          color: #ccc;
        }

        .cover {
          width: 60px;
          height: 60px;
          overflow: hidden;
          border-radius: 4px;
          margin-right: 10px;
        }

        .name {
          margin-right: 10px;
          font-size: 14px;
          width: 300px;
          display: flex;
        }

        .artists {
          width: 130px;
        }

        .album {
          width: 180px;
        }
      }
    }

    &_album {
      &_list {
        position: relative;
        margin: 0 30px;
      }

      &_sublist {
        position: relative;
        padding-left: 50px;
        margin-bottom: 50px;

        .sign {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 20px;
        }

        .list {
          display: flex;
          flex-wrap: wrap;
        }

        .item {
          display: flex;
          flex-direction: column;
          width: 140px;
          margin-right: 40px;
          margin-bottom: 20px;

          &:nth-child(4n + 4) {
            margin-right: 0;
          }
        }

        .cover {
          width: 140px;
          height: 140px;
          border-radius: 10px;
          overflow: hidden;
        }

        .name {
          margin-top: 0.5em;
          font-size: 14px;
          @include ellipse();

          &:hover {
            opacity: 0.8;
          }
        }

        .artist {
          margin-top: 0.5em;
          color: #999;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  &_playlist {

    &_list {
      display: flex;
      flex-wrap: wrap;
      .item {
        width: 180px;
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
        &:not(:nth-child(4n + 4)) {
          margin-right: 20px;
        }
      }

      .cover {
        position: relative;
        width: 180px;
        height: 180px;
        overflow: hidden;
        border-radius: 10px;
      }

      .playCount {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff;
      }

      .creator {
        position: absolute;
        left: 10px;
        bottom: 10px;
        color: #fff;
      }

      .name {
        flex: 0 1 auto;
        word-break: break-all;
        margin-top: 0.5em;
        @include ellipse(2);
      }
    }
  }
}