.domhome {
  display: flex;
  flex-direction: column;
  height: 100%;

  &_nav {
    height: 60px;
    display: flex;
    align-items: baseline;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;

    &_link {
      font-size: 16px;
      margin-right: 1em;
      @include nav_active();

      &.on {
        font-weight: bold;
      }
    }
  }

  &_content {
    flex: 1 0 0;
    display: flex;
    
    /*滚动条样式*/
    &::-webkit-scrollbar {
      width: 4px;
      /*height: 4px;*/
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #E1E1E1;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: #fff;
    }
  }

  &_titlelink {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 0.4em 0;
  }

  &_artist {
    padding-top: 16px;
    // 滚动条保持绝对位置
    overflow-anchor: none;
    &_filter {
      display: flex;
      white-space: nowrap;
      align-items: baseline;

      .title {
        flex: 0 0 40px;
      }

      .list {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
      }

      .item {
        background-color: #fff;
        padding: 4px 8px;
        margin: 0.2em 0;
        margin-right: 2em;
        cursor: pointer;

        &.on {
          color: $basered;
          background-color: rgba(255, 0, 0, 0.05);
          border-radius: 1000px;
        }
      }
    }

    &_list {
      display: flex;
      flex-wrap: wrap;

      .item {
        margin-right: 16px;
        margin-bottom: 16px;

        .img {
          position: relative;
          width: 140px;
          height: 140px;
          border-radius: 10px;
          overflow: hidden;
        }

        .rankmask {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          font-size: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(188, 124, 218, 0.9);
          color: #fff;
        }

        .info {
          display: flex;
          font-size: 14px;
          margin-top: 0.5em;
        }
      }
    }
  }

}