.domManage {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;

  &_table {
    width: 100%;
    text-align: left;
    white-space: nowrap;
    table-layout: fixed;

    .th {
      position: relative;
      color: gray;
      font-size: 14px;
      &.on {
        .sort {
          opacity: 1;
        }
      }
      .sort {
        opacity: 0;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
      }
      &:hover {
        .sort {
          opacity: 1;
        }
      }
    }
  }
}
