.domHome {
  display: flex;
  flex-direction: column;
  // flex: 1;
  height: 100%;
  &_nav {
    flex: none;
    height: 60px;
    display: flex;
    align-items: baseline;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;

    &_link {
      margin-right: 1em;
      font-size: 16px;
      &.on {
        font-size: 22px;
      }
      @include nav_active();
    }
  }

  &_content {
    --contentpadding: 24px;
    flex: auto;
    display: flex;
    width: var(--rightwidth);
    >div {
      width: var(--rightwidth);
      flex: 1;
      overflow: auto;
      // 滚动条保持绝对位置
      overflow-anchor: none;
      padding: var(--contentpadding);
    }
  }

   &_item {
     margin-bottom: 36px;
   }

  &_linktitle {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
