#aside {
    background-color: #f5f5f7;
    min-width: 200px;
}

.aside_route_dt {
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
}

.aside_route {
    display: block;
    position: relative;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
    color: #666;
}

.aside_route.on {
    background-color: #e6e7ea;
    color: #000;
}

.aside_route:hover {
    color: #000;
}

.aside_route.on:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #c62f2f;
}