.domDailySong {

  &_main {
    padding-bottom: 30px;

    .item {
      height: 36px;
      padding: 0 20px;

      .index {
        flex: none;
        width: 40px;
        text-align: right;
        padding-right: 10px;
      }

      .heart {
        flex: none;
        width: 30px;
      }

      .download {
        flex: none;
        width: 30px;
      }

      .name {
        min-width: 0;
        flex: auto;
        display: flex;
        align-items: center;
        padding-right: 10px;
      }

      .artist {
        flex: none;
        width: 18%;
        padding-right: 10px;
      }

      .album {
        flex: none;
        width: 24%;
        padding-right: 10px;
      }

      .duration {
        flex: none;
        width: 6%;
      }
    }
  }
}
