.dialog_login {
  position: fixed;
  width: 350px;
  height: 530px;
  background-color: #fff;
  color: #f00;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  z-index: 2;

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    color: #999;
    }

  ._inner {
    padding: 0 44px;
  }

  ._table {
    border-radius: 10px;
    border-collapse: collapse;
    td {
      border: 2px solid #999;
    }

    .write {
      height: 36px;
    }
    select {
      border: none;
    }

    input {
      border: none;
    }
  }
}