.domUser {
  &_binding {
    &_main {
      padding: 0 30px;
    }

    &_title {
      font-size: 14px;
      color: #676767;
    }

    &_bar {
      height: 70px;
      padding: 0 20px;
      display: flex;
      align-items: center;

      .content {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #636364;
        .name {
          font-size: 14px;
          margin-bottom: 0.5em;
        }
      }

      .actions {
        margin-left: auto;
      }
    }

    &_box {
      background-color: #F5F5F7;
      margin-top: 10px;
    }

    &_three {
      margin-top: 40px;
    }

    &_list {
      margin-top: 10px;
      border-top: 1px solid #E0E0E0;
    }

    &_item {
      border-bottom: 1px dashed #E0E0E0;
    }
  }
}
