body {
  overflow: hidden;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
}

#NeteaseCloudMusic {
  user-select: none;
}

.containimg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.overflow-auto {
  overflow: auto;
}

.animate-zoomin {
  transition: ease 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button {
  all: unset;
}

[hidden] {
  display: none;
}

.gray {
  color: gray;
}

.ui_btn {
  display: inline-block;
  padding: 0 12px;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  background-color: $basered;
}

.SQ {
  display: inline-block;
  border: 1px solid;
  padding: 0 0.1em;
  color: $basered;
  letter-spacing: 0.1em;
}

.h1 {
  font-size: 22px;
}

.commonpage {
  display: flex;
  justify-content: center;

  .btn {
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;

    &:hover {
      background-color: #F4F4F4;
    }

    &:not(.disabled) {
      cursor: pointer;
    }

    &.on {
      background-color: $basered;
      color: #fff;
      border-color: $basered;
    }

    .disabled {
      color: #E6E6E6;
    }
  }
}

/*滚动条样式*/
::-webkit-scrollbar {
  width: 4px;
  /*height: 4px;*/
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #E1E1E1;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

.bigScreen {
  .ui_grid_square {
    grid-template-columns: repeat(6, 1fr);
    &.col_4 {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

.ui_grid_square {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  &.row_1 {
    grid-template-rows: 1fr;
    .item:nth-child(n + 6) {
      display: none;
    }
  }
  &.col_4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .item {

    .cover {
      position: relative;
      overflow: hidden;
      border-radius: 6px;

      .whitetext {
        display: block;
        padding: 10px;
        color: #fff;
        @extend .text-overflow;
      }

      &::before {
        content: '';
        display: block;
        padding-top: 100%;
      }

      .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .lt {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
      }

      .lb {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 100%;
      }

      .rt {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 100%;
      }

      .rb {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 100%;
      }
    }

    .footer {
      font-size: 14px;
      margin-top: 0.5em;
      line-height: 1.5;
    }
  }
}

.lt_tag {
  display: block;
  padding: 4px;
  color: #fff;
  background-color: #FF2C55;
  border-bottom-right-radius: 6px;
}
