$basered: #EC4141;

@mixin nav_active {
  position: relative;
  &::after{
    opacity: 0;
    content: '';
    position: absolute;
    bottom: -0.3em;
    left: 0.3em;
    right: 0.3em;
    height: 0.1em;
    background-color: $basered;
  }
  &.on {
    &::after {
      opacity: 1;
    }
  }
}

@mixin scrollbar {
  /*滚动条样式*/
  &::-webkit-scrollbar {
    width: 4px;
    /*height: 4px;*/
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #E1E1E1;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: #fff;
  }
}