:root {
  --baseRed: #EC4141;
  --baseBlack: black;
  --basePink: pink;
  --baseBlue: skyblue;
  --baseGreen: lightgreen;
  --baseGold: gold;
  --deepRed: #CC3232;
  --linkColor: #507DAF;
  --themeColor: var(--baseRed);
  --fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  overflow: hidden;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
}

.dialogMask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}

#NeteaseCloudMusic {
  user-select: none;
}

.overflow-auto {
  overflow: auto;
  max-height: 100%;
  flex: auto;
}

.animate-zoomin {
  transition: ease 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.text-overflow {
  @include text-overflow();
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: inherit;
}

// input:-webkit-autofill,
// textarea:-webkit-autofill,
// select:-webkit-autofill {
//   background-color: transparent;
// }

[hidden] {
  display: none;
}


.TAG {
  display: inline-flex;
  align-items: center;
  border: 1px solid;
  padding: 0 0.2em;
  color: var(--themeColor);
  // letter-spacing: 0.1em;
  border-radius: 0.1em;

  &+.TAG {
    margin-left: 0.5em;
  }
}

.h1 {
  font-weight: bold;
  font-size: 20px;
}

.commonpage {
  display: flex;
  justify-content: center;

  .btn {
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;

    &:hover {
      background-color: #F4F4F4;
    }

    &:not(.disabled) {
      cursor: pointer;
    }

    &.on {
      background-color: var(--themeColor);
      color: #fff;
      border-color: var(--themeColor);
    }

    .disabled {
      color: #E6E6E6;
    }
  }
}

/*滚动条样式*/
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #E1E1E1;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff; // 底
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #B6B6B6;
}

// input[type="text"] {
//   border: 1px solid #333333 !important;
//   padding: 0px 12px 0px 32px;
//   background: transparent !important;
// }

// input[type="password"] {
//   border: 1px solid #333333 !important;
//   padding: 0px 12px 0px 32px;
//   background: transparent !important;
// }

@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill {
  animation-name: autofill !important;
  animation-fill-mode: both !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-clip: content-box !important;
}


.bigScreen {
  .ui_grid_square {
    grid-template-columns: repeat(6, 1fr);

    &.col_4 {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

.flex-center {
  @include flex-center();
}

.inset-center {
  @include inset-center();
}


@import 'components';
@import 'ui';
