:root {
  --themeOpacity: 0.1;
  --themeRed: #EC4141;
  --themeBlack: black;
  --themePink: pink;
  --themeBlue: skyblue;
  --themeGreen: green;
  --themeGold: gold;
  --hotpink: hotpink;
  --lightpink: lightpink;
  --lightblue: lightblue;
  --lightcoral: lightcoral;
  --lightcyan: lightcyan;
  --lightgray: lightgray;
  --lightgreen: lightgreen;
  --lightsalmon: lightsalmon;
  --lightseagreen: lightseagreen;
  --lightskyblue: lightskyblue;
  --lightslategray: lightslategray;
  --lightsteelblue: lightsteelblue;
  --linkColor: #507DAF;
  --themeColor: var(--themeRed);
  --themeOpacityColor: rgba(var(--themeColor), var(--themeOpacity));
  --fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

// /* Set core body defaults */
body {
  // min-height: 100vh;
  // text-rendering: optimizeSpeed;
  // line-height: 1;
  font-size: 12px;
  color: #333;
  // word-break: break-all;
  // font-family: var(--fontFamily);
}


body {
  overflow: hidden;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.dialogMask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}

.animate-zoomin {
  transition: ease 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.TAG {
  display: inline-flex;
  align-items: center;
  border: 1px solid;
  padding: 0 0.2em;
  color: var(--themeColor);
  border-radius: 0.15em;
  margin-left: 0.3em;
  font-size: 12px;
  line-height: 1;
  white-space: nowrap;
}

.h1 {
  font-weight: bold;
  font-size: 20px;
}

.commonpage {
  display: flex;
  justify-content: center;

  .btn {
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;

    &:hover {
      background-color: #F4F4F4;
    }

    &:not(.disabled) {
      cursor: pointer;
    }

    &.on {
      background-color: var(--themeColor);
      color: #fff;
      border-color: var(--themeColor);
    }

    .disabled {
      color: #E6E6E6;
    }
  }
}

/*滚动条样式*/
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #E1E1E1;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff; // 底
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #B6B6B6;
}

.flex-center {
  @include flex-center();
}

.inset-center {
  @include inset-center();
}

@import 'components';
@import 'ui';
