@mixin nav_active {
  position: relative;
  &::after {
    opacity: 0;
    content: '';
    position: absolute;
    bottom: -0.4em;
    left: 0.4em;
    right: 0.4em;
    height: 0.15em;
    background-color: var(--themeColor);
  }

  &.on {
    font-weight: bold;
    &::after {
      opacity: 1;
    }
  }
}

@mixin ellipse($line: 2) {
  display: -webkit-box;
  /*! autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin select-nav($width: 80px) {
  .nav {
    flex: none;
    border-radius: 15px;
    display: flex;
    border: 1px solid #BBBBBB;
    margin: 10px auto;
    width: min-content;

    &_link {
      position: relative;
      flex: none;
      width: $width;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 15px;

      &:hover {
        background-color: #F5F5F5;
      }

      &.on {
        background-color: #BBBBBB;
        color: #fff;
      }

      .lt_ico {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(20%, -50%);
        border: 1px solid #fff;
        border-radius: 1000px;
        background-color: var(--themeColor);
        line-height: 1;
        padding: 2px 4px;
        color: #fff;
      }
    }
  }
}
