@mixin nav_active {
  position: relative;
  &::after {
    opacity: 0;
    content: '';
    position: absolute;
    bottom: -0.4em;
    left: 0.4em;
    right: 0.4em;
    height: 0.15em;
    background-color: var(--basered);
  }

  &.on {
    font-weight: bold;
    &::after {
      opacity: 1;
    }
  }
}

// @mixin scrollbar {

//   /*滚动条样式*/
//   &::-webkit-scrollbar {
//     width: 4px;
//     /*height: 4px;*/
//   }

//   &::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     background: #E1E1E1;
//   }

//   &::-webkit-scrollbar-track-piece {
//     background-color: #fff;
//   }
// }

@mixin text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin ellipse($line: 2) {
  display: -webkit-box;
  /*! autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin inset-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


@mixin select-nav($width: 80px) {
  .nav {
    flex: none;
    border-radius: 15px;
    display: flex;
    border: 1px solid #BBBBBB;
    margin: 10px auto;
    width: min-content;

    &_link {
      position: relative;
      flex: none;
      width: $width;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 15px;

      &:hover {
        background-color: #F5F5F5;
      }

      &.on {
        background-color: #BBBBBB;
        color: #fff;
      }

      .lt_ico {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(20%, -50%);
        border: 1px solid #fff;
        border-radius: 1000px;
        background-color: var(--basered);
        line-height: 1;
        padding: 2px 4px;
        color: #fff;
      }
    }
  }
}
