// /* Set core body defaults */
body {
  // min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-size: 12px;
  color: #333;
  // font-family: var(--fontFamily);
}


@import 'common';
@import 'layout';
