.domHome {
  &_nav {

    &_link {
      margin-right: 1em;
      font-size: 16px;
      &.on {
        font-size: 20px;
      }

    }
  }

  &_content {
    flex: auto;
    padding: 0 30px;
  }

   &_item {
     margin-bottom: 36px;
   }
}
