#header {
    height: 50px;
    background-color: #c62f2f;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

#logo {
    font-size: 20px;
    display: flex;
    min-width: 200px;
}

.header_page {
    display: flex;
}

.header_page a {
    width: 26px;
    height: 22px;
    border: 1px solid #a82828;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
}

.header_search {
    position: relative;
}

.header_search input {
    width: 210px;
    height: 24px;

}

.header_search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c77373;
}

.header_search input::-moz-placeholder { /* Firefox 19+ */
    color: #c77373;
}

.header_search input:-ms-input-placeholder { /* IE 10+ */
    color: #c77373;
}

.header_search input:-moz-placeholder { /* Firefox 18- */
    color: #c77373;
}
