.domHome_dj_toplist {

  &_main {
    .item {
      .index {
        width: 64px;
      }
      .cover {
        width: 60px;
        height: 60px;
        border-radius: 4px;
        overflow: hidden;
      }

      .name {
        flex: 5;
        padding: 0 6px;
      }

      .radio {
        flex: 3;
        padding: 0 6px;
      }

      .category {
        width: 88px;
        padding: 0 6px;
      }

      .score {
        width: 88px;
        padding: 0 6px;
      }
    }
  }
}
