.domUser {
  &_followlist {
    &_header {
      padding: 24px 30px;
    }

    &_main {
      .list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
          width: 380px;
          height: 110px;
          display: flex;
          align-items: center;
          padding: 0 20px;

          &:hover {
            background-color: #F9F9F9;
          }

          .avatar {
            position: relative;
            flex: none;
            width: 90px;
            height: 90px;
            border-radius: 45px;
            border: 1px solid #ccc;
            img {
              border-radius: 45px;
            }
            .ico {
              position: absolute;
              width: 24px;
              height: 24px;
              bottom: 0;
              right: 0;
            }
          }

          .content {
            flex: auto;
            margin-left: 8px;

            .contain {
              margin: 8px 0;
              display: flex;
              align-items: baseline;
              justify-content: space-between;

              .left {
                color: #777;
                display: flex;
                justify-content: space-between;
                width: 160px;
              }

              .right {
                margin-left: auto;
              }

              .follow {
                width: 70px;
                height: 26px;
                line-height: 24px;
                border: 1px solid #D3D3D3;
                border-radius: 1000px;
                text-align: center;
                @include flex-center();

                &:hover {
                  background-color: #ECECEC;
                }

                &.on {
                  background-color: inherit;
                  color: #D3D3D3;
                }
              }

              .nickname {
                font-size: 14px;
                color: #333;
              }
            }
          }
        }
      }
    }
  }
}
