.domMvList {
  &_sublist {
    margin-bottom: 30px;
  }

  &_subLink {
    font-size: 16px;
    font-weight: bold;
  }

  &_header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.domVideoTop {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 132px;

  .item {
    padding: 20px 0;
    padding-left: 10px;
    display: flex;

    &:not(:nth-last-child(-n + 2)) {
      border-bottom: 1px solid #eee;
    }

    &:nth-child(odd) {
      border-right: 1px solid #eee;
    }

    .rank {
      width: 40px;
      flex: none;
      flex-direction: column;

      .num {
        font-size: 24px;
        font-family: 'Times New Roman', Times, serif;
      }
    }

    .cover {
      position: relative;
      flex: none;
      width: 172px;
      height: 92px;
      border-radius: 6px;
      overflow: hidden;

      .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .score {
          position: absolute;
          top: 4px;
          right: 4px;
          color: #fff;
        }
      }
    }

    .aside {
      min-width: 1px;
      flex: auto;
      padding: 10px;

      .name {
        font-size: 14px;
      }

      .artists {
        margin-top: 2em;
      }
    }
  }
}
