.domHome {
  &_artist {
    // padding: 24px;

    &_filter {
      display: flex;
      white-space: nowrap;
      align-items: baseline;
      margin: 0.5em 0;

      .title {
        flex: 0 0 40px;
      }

      .list {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        .item {
          position: relative;
          margin: 0.2em 0;
          width: 80px;
          &:not(:last-of-type) {
            &::after {
              content: '';
              position: absolute;
              height: 12px;
              top: 50%;
              transform: translate(0, -50%);
              right: 0;
              margin-left: auto;
              background-color: #ddd;
              width: 1px;
            }
          }
        }
      }


      .btn {
        background-color: #fff;
        padding: 3px 8px;
        // margin-right: 2em;
        cursor: pointer;

        &.on {
          color: var(--basered);
          background-color: rgba(255, 0, 0, 0.05);
          border-radius: 1000px;
        }
      }
    }

    &_list {
      display: grid;
      margin-top: 10px;
      row-gap: 16px;
      column-gap: 16px;
      grid-template-columns: repeat(5, 1fr);

      .item {

        .img {
          position: relative;
          border-radius: 10px;
          overflow: hidden;
        }

        .rankmask {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          font-size: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(188, 124, 218, 0.9);
          color: #fff;
        }

        .info {
          display: flex;
          font-size: 14px;
          margin-top: 0.5em;
        }
      }
    }
  }
}
