.domFriend {
  &_dynamic {

    .item {
      .content {
        .article {
          .pics {
            .img {
              img {
                cursor: zoom-in;
              }
              &.on {
                img {
                  cursor: zoom-out;
                }
              }
            }
            &.pic_1 {
              grid-template: 306px / 340px;
            }
            &.pic_2 {
              grid-template-columns: repeat(2, 40%);
            }
            &.pic_3 {
              grid-template-columns: repeat(3, 25%);
            }
            &.pic_even {
              grid-template-columns: repeat(4, 18.75%);
            }
          }
        }
      }
    }
  }
}
