.domHome {
  &_dj {
    &_banner {
      width: calc(var(--rightwidth) - var(--contentpadding) * 2);
    }

    &_nav {
      // margin-top: 10px;
      // padding: 0 20px;
      .item {
        width: 50px;
        text-align: center;
        .btn {
          margin: 0 auto;
          width: 50px;
          height: 50px;
          background-color: #FCEBEB;
          border-radius: 25px;
          &:hover {
            background-color: #FAD8D8;
          }
        }
        // .name {
        //   margin-top: 10px;
        // }
      }
    }

    &_list {
      margin-top: 16px;
    }
  }

}
