.domHome {
  &_recommend {
    &_playlist {
      .name {

      }
    }

    &_newsong {
      .item {
        height: 50px;
      }
      .cover {
        cursor: pointer;
        width: 50px;
        height: 50px;
      }

      .content {
      }

    }

    &_mv {
      .item:last-child {
        display: none;
      }


      .cover:hover {
        .copywriter {
          transform: translate(0, 0);
        }
      }

      .copywriter {
        transform: translate(0, -100%);
      }


    }

    &_djprogram {
    }

    &_tingting {
      margin-top: 16px;
      .name {
        margin-top: 0.3em;
        font-size: 16px;
      }

      .artist {
        margin-top: 0.3em;
      }
    }

    &_kankan {
      margin-top: 16px;
    }

    &_diy {
      margin-top: 16px;
      text-align: center;
      padding-bottom: 40px;

      .btn {
        width: 124px;
        height: 30px;
      }
    }
  }
}
