.domSearch {
  &_header {
    padding: 30px;
    padding-bottom: 10px;
  }

  &_nav {
    margin-top: 20px;
    display: flex;

    &_link {
      font-size: 14px;
      margin-right: 2em;
      font-weight: lighter;

      &.on {
        font-weight: bold;
      }
    }
  }

  &_multimatch {
    padding: 20px 30px;
    .title {
      font-weight: bold;
    }

    .list {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }

    .item {
      display: flex;
      align-items: center;
      width: 366px;
      height: 80px;
      background-color: #F4F4F4;
      border-radius: 6px;
      overflow: hidden;
      font-size: 14px;
      .cover {
        width: 80px;
        height: 80px;
      }

      .content {
        margin-left: 16px;
        display: flex;
        flex-direction: column;

        .subname {
          margin-top: 1em;
          font-size: 12px;
          color: #999;
        }
      }
    }
  }

  &_main {
    ._list {

      .item {
        padding: 10px 30px;
        .cover {
          width: 60px;
          height: 60px;
          border-radius: 4px;
          overflow: hidden;
          border: 1px solid #ccc;
        }

        .name {
          padding: 0 10px;
          font-size: 14px;
          width: 40%;
        }
      }
    }

    .songs_list {

      .item {
        height: 36px;
        .index {
          flex: none;
          text-align: right;
          width: 54px;
          padding-right: 10px;
        }

        .heart,
        .download {
          flex: none;
          width: 24px;
          text-align: center;
        }

        .name {
          flex: auto;
          padding: 0 8px;
          // width: 40%;
        }

        .artist {
          flex: none;
          padding: 0 8px;
          width: 14%;
        }

        .album {
          flex: none;
          padding: 0 8px;
          width: 18%;
        }

        .duration {
          flex: none;
          padding: 0 8px;
          width: 8%;
        }

        .pop {
          flex: none;
          padding: 0 8px;
          width: 12%;
        }

        .range {
          width: 80px;
          height: 8px;
          border-radius: 4px;
          background-color: #E5E5E5;
          overflow: hidden;

          &::before {
            content: '';
            display: block;
            height: 100%;
            width: calc(var(--pop, 0) * 1%);
            background-color: #C1C2C2;
          }
        }
      }
    }

    .artists_list {
      .item {
        .account {
          margin-left: auto;
          width: 18px;
          height: 18px;
          background-color: var(--themeColor);
          border-radius: 9px;
          color: #fff;
        }
      }
    }

    .albums_list {
      .item {
        .artist {
          padding: 0 10px;
          width: 50%;
        }
      }
    }

    .videos_list {
      padding: 20px 40px;
    }

    .playlists_list {
      .trackCount {
        width: 16%;
      }
    }

    .lyrics_list {
      .item {
        --grid: 40px 24px 24px 10fr 4fr 4fr 2fr 3fr;
        display: grid;
        align-items: center;
        grid-template-rows: 36px;
        grid-template-columns: var(--grid);

        .range {
          width: 80px;
          height: 8px;
          border-radius: 4px;
          background-color: #E5E5E5;
          overflow: hidden;

          &::before {
            content: '';
            display: block;
            height: 100%;
            width: calc(var(--pop, 0) * 1%);
            background-color: #C1C2C2;
          }
        }
      }

      .thead {
        .item {
          height: 36px;
        }
      }

      .lyric {
        display: flex;
        grid-column: 4 / 9;

        .content {
          padding: 0 8px;
          line-height: 20px;
          padding-bottom: 20px;
          width: 66%;
          word-break: break-all;
          white-space: pre-line;
          min-width: 1px;

          :first-child {
            margin-top: 0.5em;
            margin-bottom: 0.2em;

            b {
              color: var(--linkColor);
              font-weight: normal;
            }
          }
        }

        .actions {
          width: 33%;
          flex: none;
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          button {
            margin: 0 10px;
          }
        }
      }
    }

    .djRadios_list {
      .item {
        .dj {
          width: 30%;
          margin-left: auto;
        }
      }
    }

    .userprofiles_list {
      .item {
        .cover {
          border-radius: 50%;
        }

        .signature {
          margin-left: auto;
        }
      }
    }
  }
}
