.domSetting {
  .nav_target {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
  }
  &_select {
    border: 1px solid #E0E0E0;
    height: 24px;
  }
  &_radio {
    input {
      display: none;
      &:checked+.ico {
        color: var(--theme-color);
        border-color: currentColor;
      }
    }
    .ico {
      width: 16px;
      height: 16px;
      border-radius: 8px;
      border: 1px solid #ccc;
      color: transparent;
      font-size: 18px;
      &::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: currentColor;
      }
    }
  }
  &_block {
    &_title {
      font-weight: bold;
      font-size: 14px;
    }
  }
  &_subBlock {
    margin-top: 24px;
    &_title {
      margin-bottom: 10px;
    }
  }
}
