.domVideoDetail {
  width: 930px;
  margin: 0 auto;

  &_container {
    display: flex;
    justify-content: space-between;

    .left {
      width: 620px;
    }

    .right {
      width: 280px;
    }
  }

  &_header {
    height: 50px;
    align-items: center;
    font-size: 16px;
  }

  &_creator {
    margin-top: 16px;
    display: flex;
    align-items: center;
    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      overflow: hidden;
    }

    .nickname {
      margin-left: 10px;
    }

    .follow {
      margin-left: auto;
      width: 80px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background-color: #FCF4F4;
      border-radius: 15px;
      font-size: 14px;
      color: var(--themeColor);

      &.on {
        background-color: #F8F8F8;
        color: #9B9B9B;
      }
    }
  }

  &_title {
    margin-top: 30px;
  }

  &_info {
    margin-top: 16px;
  }

  &_group {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    .group {
      background-color: #F7F7F7;
      padding: 4px 8px;
      border-radius: 1000px;
    }
  }

  &_description {
    margin-top: 2em;
  }

  &_actions {
    margin-top: 30px;
    display: flex;
    .button {
      height: 32px;
      border-radius: 15px;
      border: 1px solid #ccc;
      padding: 0 30px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      font-size: 14px;
      &:hover {
        background-color: #F2F2F2;
      }
    }
  }

  &_related {

    .item {
      display: flex;
      margin-bottom: 10px;
    }

    .cover {
      position: relative;
      width: 140px;
      height: 80px;
      flex: none;
      border-radius: 6px;
      overflow: hidden;
      color: #fff;

      .playTime {
        position: absolute;
        top: 6px;
        right: 6px;
      }
      .durationms {
        position: absolute;
        bottom: 6px;
        right: 6px;
      }
    }

    .content {
      padding: 10px;
      // flex: auto
      min-width: 1px;
    }

    .title {
      font-size: 14px;
      line-height: 20px;
      @include ellipse(2);
    }

    .username {
      // margin-top: 10px;
    }
  }

  &_main {
    // margin-top: 50px;
    .title {
      // margin-top: 20px;
      margin-bottom: 20px;
    }

    .subtitle {
      margin-top: 30px;
    }
  }

  &_comments {

  }
}

#video {
  height: 354px;

  video {
    width: 100%;
    height: 100%;
    background-color: #000;
  }
}
