.domSetting {

  .nav_target {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
  }

  &_header {
    flex: none;
    height: 114px;
    padding: 20px 30px;
  }

  &_nav {
    margin-top: 30px;

    &_link {
      margin-right: 1em;

    }
  }

  &_main {
    padding: 0 30px;
  }

  &_select {
    border: 1px solid #E0E0E0;
    height: 24px;
  }

  // &_check {

  //   input {

  //     &:checked+.ico {
  //       background-color: var(--themeColor);
  //       color: #fff;
  //       border-color:var(--themeColor);
  //     }
  //   }


  //   .ico {
  //     background-color: #fff;
  //     width: 16px;
  //     height: 16px;
  //     border: 1px solid #ccc;
  //     border-radius: 4px;
  //     color: transparent;
  //   }
  // }

  &_radio {
    input {
      display: none;
      &:checked+.ico {
        color: var(--themeColor);
        border-color: currentColor;
      }
    }

    .ico {
      width: 16px;
      height: 16px;
      border-radius: 8px;
      border: 1px solid #ccc;
      color: transparent;
      font-size: 18px;
      &::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: currentColor;
      }
    }
  }

  &_block {
    &_title {
      font-weight: bold;
      font-size: 14px;
    }
  }

  &_subBlock {
    margin-top: 24px;

    &_title {
      margin-bottom: 10px;
    }
    &_content {
      // .item {
      //   margin-top: 6px;
      // }
    }
  }
}
