#dialogLogin {
  width: 350px;
  height: 530px;

  .qr {
    .scanwait {


      .qrbox {
        height: 330px;
        width: 280px;

        .left {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: ease 0.4s;
          width: 100%;
          opacity: 0;
        }

        .right {
          width: 100%;
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
          transition: ease 0.4s;
        }

        .qrimg {
          width: 180px;
          height: 180px;
          transition: ease 0.4s;
        }

        &:hover {
          .left {
            left: 0;
            transform: translate(0, -50%);
            width: 50%;
            opacity: 1;
          }

          .right {
            width: 50%;
            right: 0;
            transform: translate(0, -50%);
          }


          .qrimg {
            width: 124px;
            height: 124px;
          }
        }
      }
    }

  }

  .form {
    .angle {
      .tips {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%, 5% 20%);
      }
    }
  }

  .table {
    border-radius: 10px;
    border-collapse: collapse;

    td {
      position: relative;
      border: 1px solid #D8D8D8;
      vertical-align: sub;
    }

    .input {
      display: block;
      width: 100%;
      height: 36px;
      line-height: 36px;
      border: none;
      font-weight: bold;
      padding: 0 10px;
    }

    .togglePassword {
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .custom {
      &Select {
        position: relative;
        .default {
          width: 100%;
          padding-right: 10px;
          padding-left: 30px;
          height: 36px;
          display: flex;
          align-items: center;

          .ico {
            position: absolute;
            left: 4px;
          }

          .arrow {
            margin-left: auto;
            color: #999;
          }
        }
      }


      &Option {
        &.on,
        &:hover {
          background-color: #E4E5E7;
        }
      }

      &OptionGroup {
        position: absolute;
        top: 100%;
        left: 0;
        width: 260px;
        height: 220px;
        background-color: #fff;
        border: 1px solid #D8D8D8;
        border-radius: 0 0 4px 4px;
        overflow: auto;
        z-index: 2;
      }
    }

  }

  .info {
    display: flex;
    padding: 14px 0;

    .auto {
      display: flex;
      align-items: center;
      flex: none;
    }
  }

  .submit {
    width: 100%;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: var(--themeColor);
  }

  .hint {
    // margin-top: 66px;

    &::after,
    &::before {
      content: '';
      width: 86px;
      height: 1px;
      background-color: #E1E2E2;
    }
  }
}
