.gender {
  display: inline-flex;
  align-items: center;
  line-height: 30px;
  [type="radio"]:checked {
    & + .ico {
      border-color: var(--theme-color);
      &::before {
        opacity: 1;
      }
    }
  }
}

.ico {
  margin-right: 0.5em;
  width: 18px;
  height: 18px;
  border: 1px solid #D0D0D0;
  &::before {
    opacity: 0;
    width: 12px;
    height: 12px;
    content: '';
    border-radius: 50%;
    background-color: var(--theme-color);
  }
}
