.domHome {
  &_playlist {
    &_list {
      .item {
        display: flex;
        flex-direction: column;
      }

      .cover {
      }

      .playCount {
        padding: 10px;
        color: #fff;
      }

      .creator {
        padding: 10px;
        color: #fff;
      }

      .name {
        flex: 0 1 auto;
        word-break: break-all;
        margin-top: 0.5em;
        @include ellipse(2);
      }
    }
  }
}
