.Wrap {
  --WIDTH: 1022px;
  --HEIGHT: 670px;
  --HEADER: 60px;
  --FOOTER: 70px;
  width: var(--WIDTH);
  height: var(--HEIGHT);
  background-color: #fff;
  // transform: translate(0, 0);
  @media (display-mode: fullscreen) {
    width: 100vw;
    height: 100vh;
    position: initial!important;
  }
}
