.domHome {
  &_playlist {
    padding: 0 30px;
    &_banner {
      height: 170px;
      border-radius: 10px;
      padding: 15px;

      // background-color: #ace;
      .cover {
        width: 140px;
        height: 140px;
        border-radius: 10px;
        overflow: hidden;
      }

      .contennt {
        margin-left: 10px;
      }

      .tag {
        width: 100px;
        height: 30px;
        color: #E7AA5A;
        @include flex-center();
      }
    }

    &_popup_nav {
      width: 744px;

      .category {
        width: 100px;
      }
    }

    &_list {
      .item {
        display: flex;
        flex-direction: column;
      }

      .playCount {
        padding: 10px;
        color: #fff;
      }

      .creator {
        padding: 10px;
        color: #fff;
      }

      .name {
        flex: 0 1 auto;
        word-break: break-all;
        margin-top: 0.5em;
        @include ellipse(2);
      }
    }
  }
}
