.domHome {
  &_playlist {
    &_banner {
      height: 170px;
      padding: 15px;

      .tag {
        width: 100px;
        height: 30px;
        color: #E7AA5A;

      }
    }

    &_popup_nav {
      width: 744px;

      .category {
        width: 100px;
      }
    }
  }
}
