.domComment {
  padding: 20px 30px;

  &_header {}

  &_infos {
    display: flex;

    .cover {
      position: relative;
      height: 70px;
      border-radius: 4px;
      overflow: hidden;

      .ico {


        color: var(--themeColor);
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.9);
      }
    }

    .content {
      padding: 6px 20px;

    }
  }

  &_list {
    margin-top: 30px;
    padding-bottom: 20px;
    &_more {
      padding: 20px;
    }
  }
}
