#skin {
  width: 324px;
  height: 250px;

  .themes {
    grid-template: repeat(2, 90px) / repeat(3, 90px);

    .theme {
      background-color: var(--currentColor);
    }
  }

  .colors {
    .default {
      grid-template-rows: repeat(2, 40px);
      grid-template-columns: repeat(6, 40px);

      .color {
        background-color: var(--currentColor);
      }
    }

    .custom {
      display: flex;

      &>button {
        background-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
      }

      .ranges {
        flex: auto;
      }

      .rgb {
        margin-top: 6px !important;

        &::-webkit-slider-runnable-track {
          background-image: linear-gradient(to right,
              red,
              yellow,
              lime,
              aqua,
              blue,
              magenta,
              red
            );
        }
      }

      .hsl {
        margin-top: 20px !important;

        &::-webkit-slider-runnable-track {
          background-image: linear-gradient(to right,
              hsl(0, 100%, 0%) 0,
              hsl(var(--h), 100%, 50%) 100%,
            );
        }
      }

      input[type=range] {
        display: block;
        // display: none;
        appearance: none;
        // border-radius: 5px;
        width: 100%;
        margin: 0;
        outline: none;

        &::-webkit-slider-runnable-track {
          height: 4px;
          border-radius: 2px;
        }

        &::-webkit-slider-thumb {
          appearance: none;
          cursor: pointer;
          margin-top: -5px;
          width: 14px;
          height: 14px;
          background-color: #fff;
          border-radius: 50%;
          border: 1px solid #E2E2E2;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

          &:hover {
            background-color: #F5F5F7;
          }
        }
      }
    }
  }
}
