#skin {
  width: 324px;
  height: 250px;
  border-radius: 0 0 10px 10px;

  .themes {
    grid-template: repeat(2, 90px) / repeat(3, 90px);

    .theme {
      position: relative;
      background-color: var(--currentColor);

      .ico {
        width: 24px;
        height: 24px;
      }

      &:hover {
        outline: 1px solid var(--currentColor);
        outline-offset: 1px;
      }
    }
  }

  .colors {
    .default {
      grid-template-rows: repeat(2, 40px);
      grid-template-columns: repeat(6, 40px);

      .color {
        background-color: var(--currentColor);

        &:hover {
          outline: 1px solid var(--currentColor);
          outline-offset: 1px;
        }
      }
    }

    .custom {
      display: flex;

      &>button {
        background-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
      }

      .colour {
        .ico {
          position: absolute;
          right: -5px;
          bottom: -5px;
          background-color: var(--themeRed);
          border-radius: 1000px;
          color: #fff;

          border: 2px solid;
          // z-index: 2;
        }
      }

      .ranges {
        flex: auto;
      }

      .rgb {
        margin-top: 6px !important;

        &::-webkit-slider-runnable-track {
          background-image: linear-gradient(to right,
              red,
              yellow,
              lime,
              aqua,
              blue,
              magenta,
              red
            );
        }
      }

      .hsl {
        margin-top: 20px !important;

        &::-webkit-slider-runnable-track {
          background-image: linear-gradient(to right,
              hsl(0, 100%, 0%) 0,
              hsl(var(--h), 100%, 50%) 100%,
            );
        }
      }

      input[type=range] {
        display: block;
        // display: none;
        appearance: none;
        // border-radius: 5px;
        width: 100%;
        margin: 0;
        outline: none;

        &::-webkit-slider-runnable-track {
          height: 4px;
          border-radius: 2px;
        }

        &::-webkit-slider-thumb {
          appearance: none;
          cursor: pointer;
          margin-top: -8px;
          width: 18px;
          height: 18px;
          background-color: #fff;
          border-radius: 50%;
          border: 1px solid #E2E2E2;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

          &:hover {
            background-color: #F5F5F7;
          }
        }
      }
    }
  }
}
