.domplay {
  height: 100%;
  display: flex;
  flex-direction: column;

  &_header {
    padding: 0 30px;
    padding-top: 20px;
    height: 60px;
    flex: none;
    display: flex;
    align-items: baseline;
  }

  &_link {
    font-size: 14px;
    margin-right: 1em;

    &.on {
      font-size: 20px;
    }

    @include nav_active();
  }

  &_content {
    flex: 1;
    padding: 30px;
    padding-bottom: 0;
  }

  &_list {
    margin-top: 20px;
  }

}
